*{
  margin:0px;
  padding:0px;
}
h1,h2,h3,h4{
  color:#1261A0;
}

.docs{
  font-size:20px;
}

.sidebar{
  position: fixed;
}

a{
  text-decoration: none;
  color: black;
}
.pad{
  margin-top:5px;
  margin-bottom:5px;
}
.options{
  height:auto;
  background-color:#262626;
  box-shadow:2px 2px 2px black;
}

div[class^="choice"] a{
  color: white;
  font-size:20px;
  text-transform:uppercase;
}

div[class^="choice"]:hover{
  background-color:skyblue;
}

hr[id^="docs"]{
 margin:auto;
 width:500px;
 margin-top:10px;
 margin-bottom:10px;
 font-weight: bold;
}

.voteOfThanks{
  width:450px;
  margin-top:10px;
  margin-bottom:10px;
}

table tr{
    background-color:#1261A0;
    border:2px solid black;

}

.version{
  background-color:skyblue;
  color:white;
  padding:10px;
  border-radius:5px;
}
#versions{
margin-bottom:10px;
}
@media only screen and (min-width:1000px){
  .container{
    clear: both;
  }
  .sidebar{
    width:18%;
    margin:1%;
    float:left;
  }
  .docs{
    width:78%;
    margin:1%;
    float: right;
  }
}

@media only screen and (max-width:1000px){
  .sidebar{
    visibility: hidden;
    height:0px;
  }
}

@@media only screen and (max-width:500px) {
  .voteOfThanks{
    width:100%;
  }
}
